block landing
    div(class="landing_tile")

      div(class="eea_tile available_content")
        h2 Available content
        h3 Documents
        span(class="documents_count eea_tile_count") 283745
        h3 Language
        span(class="language_count eea_tile_count") 34

      div(class="eea_tile picture")
        span

      div(class="eea_tile topics")
        h2 Topics
        span(class="topics_count eea_tile_count") 24

      div(class="eea_tile time_coverage")
        h2 Time coverage
        span(class="time_coverage_count eea_tile_count") 1948
        span(class="time_coverage_count eea_tile_count") 2016

      div(class="eea_tile organisations")
        h2 Organisations
        span(class="organisations_count eea_tile_count") 92

      div(class="eea_tile content_types")
        h2 Content types
        span(class="content_types_count eea_tile_count") 27


      div(class="eea_tile countries")
        h2 Countries
        span(class="countries_count eea_tile_count") 87

      div(class="eea_tile latest")
        h2 Latest
        ul
          li
            a(href="#") Exposure of ecosystems to acidification, eutrophication and ozone
            strong Link
            span Published on
            span 12/07/2016
          li
            a(href="#") Exposure of ecosystems to acidification, eutrophication and ozone
            strong Link
            span Published on
            span 12/07/2016
          li
            a(href="#") Exposure of ecosystems to acidification, eutrophication and ozone
            strong Link
            span Published on
            span 12/07/2016
