    #facetview_results,
    .facetview_morefacetvals {
      display: none !important;
    }


.eea-tiles::after,
.eea-tile::after {
  content: '';
  display: table;
  clear: both;
}

.eea-tile {
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 320px) {
  .eea-tile {
    float: left;
    padding: 10px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .eea-tile {
    width: 33.33333%;
  }
}
@media (min-width: 960px) {
  .eea-tile {
    width: 25%;
  }
}

.eea-tileInner {
  display: block;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,.5);
  border-radius: 3px;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color .1s, box-shadow .1s;
}
.eea-tileInner:hover,
.eea-tileInner:focus {
  box-shadow: 0 0 3px 1px rgb(55, 146, 218);
}

.eea-tileThumb {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-size: cover;
  background-repeat: none;
}
.eea-tileThumb::after {
  content: '';
  display: block;
  /* 16:9 ratio */
  padding-top: 56.25%;
}
.eea-tileThumb img {
  display: none;
}

.eea-tileBody {
  position: relative;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.eea-tileType {
  position: absolute;
  bottom: 100%;
  right: 8px;
  margin-bottom: -6px;
  z-index: 2;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  border-radius: 50%;
}

.eea-tileTypeIcon {
  display: block;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.eea-tileTypeIcon::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* eea-icon eea-icon-database */
.eea-tileTypeIcon.eea-tileType-external-data-reference::before {
  content: '\f1c0';
  background-color: #D21242;
}

/* eea-icon eea-icon-bullhorn */
.eea-tileTypeIcon.eea-tileType-output-from-annual-management-plan::before {
  content: '\f0a1';
  background-color: #93538E;
}

/* eea-icon eea-line-chart */
.eea-tileTypeIcon.eea-tileType-indicator-specification::before {
  content: '\f201';
  background-color: #B3CC95;
}

/* eea-icon eea-line-chart */
.eea-tileTypeIcon.eea-tileType-indicator-assessment::before {
  content: '\f201';
  background-color: #69A939;
}

/* eea-icon eea-star */
.eea-tileTypeIcon.eea-tileType-highlight::before {
  content: '\f005';
  background-color: #BD2F2F;
}

/* eea-icon eea-file */
.eea-tileTypeIcon.eea-tileType-file::before {
  content: '\f15b';
  background-color: #999999;
}

/* eea-icon eea-eye */
.eea-tileTypeIcon.eea-tileType-eyewitness-story::before {
  content: '\f06e';
  background-color: #FF8CD6;
}

/* eea-icon eea-file-text */
.eea-tileTypeIcon.eea-tileType-page::before {
  content: '\f15c';
  background-color: #333;
}

/* eea-icon eea-newspaper-o */
.eea-tileTypeIcon.eea-tileType-press-release::before {
  content: '\f1ea';
  background-color: #FF976F;
}


/* eea-icon eea-book */
.eea-tileTypeIcon.eea-tileType-report::before {
  content: '\f02d';
  background-color: #02947D;
}

/* eea-icon eea-microphone */
.eea-tileTypeIcon.eea-tileType-speech::before {
  content: '\f130';
  background-color: #852AA2;
}

/* eea-icon eea-line-chart */
.eea-tileTypeIcon.eea-tileType-figure::before {
  content: '\f201';
  background-color: #1995FF;
}


.eea-tileTitle {
  margin: 0 0 .25em;
  line-height: 1.25;
  font-size: 1em;
  font-weight: normal;
  color: #00446A;
  word-wrap: break-word;
}
.eea-tileInner:hover .eea-tileTitle,
.eea-tileInner:focus .eea-tileTitle {
  color: #0044dd;
}
@media (min-width: 320px) {
  .eea-tileTitle {
    height: 3.75em;
    overflow: hidden;   
  }
}
@media (min-width: 768px) {
  .eea-tileTitle {
    font-size: 1.25em;
  }
}

.eea-tileTopic,
.eea-tileIssued {
  display: block;
  font-size: smaller;
}

.eea-tileTopic {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eea-tileIssued {
  color: gray;
}
