    #facetview_results,
    .facetview_morefacetvals {
      display: none !important;
    }


.eea-tiles::after,
.eea-tile::after {
  content: '';
  display: table;
  clear: both;
}

.eea-tile {
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 320px) {
  .eea-tile {
    float: left;
    padding: 10px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .eea-tile {
    width: 33.33333%;
  }
}
@media (min-width: 960px) {
  .eea-tile {
    width: 25%;
  }
}

.eea-tileInner {
  display: block;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,.5);
  border-radius: 3px;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color .1s, box-shadow .1s;
}
.eea-tileInner:hover,
.eea-tileInner:focus {
  box-shadow: 0 0 3px 1px rgb(55, 146, 218);
}

.eea-tileThumb {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /* background-color: #333; */
  /* background-image: radial-gradient(circle, #555, #333); */
}
.eea-tileThumb::after {
  content: '';
  display: block;
  /* 16:9 ratio */
  padding-top: 56.25%;
}
.eea-tileThumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: auto;
  height: 100%; /* replace with 100% when aspect-ratio bug is fixed */
  white-space: nowrap;
  text-align: center;
  transform: translate(-50%, -50%) scale(1.025);
  transform-origin: 50% 50%;
  transition: transform .3s;
}
.eea-tileThumb .img-narrower {
  width: 100%;
  height: auto;
}
.eea-tileInner:hover .eea-tileThumb img,
.eea-tileInner:focus .eea-tileThumb img {
  transform: translate(-50%, -50%) scale(1.3);
}

.eea-tileBody {
  position: relative;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.eea-tileType {
  position: absolute;
  bottom: 100%;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: -6px;
  border-radius: 50%;
  overflow: hidden;
  line-height: 24px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  color: transparent;
  z-index: 2;
}

.eea-tileTitle {
  margin: 0 0 .25em;
  line-height: 1.25;
  font-size: 1em;
  font-weight: normal;
  color: #00446A;
  word-wrap: break-word;
}
.eea-tileInner:hover .eea-tileTitle,
.eea-tileInner:focus .eea-tileTitle {
  color: #0044dd;
}
@media (min-width: 320px) {
  .eea-tileTitle {
    height: 3.75em;
    overflow: hidden;   
  }
}
@media (min-width: 768px) {
  .eea-tileTitle {
    font-size: 1.25em;
  }
}

.eea-tileTopic,
.eea-tileIssued {
  display: block;
  font-size: smaller;
}

.eea-tileTopic {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eea-tileIssued {
  color: gray;
}
