block title
    title EEA Advanced search &mdash; Global catalogueXXX

block extrajavascripts
    script(type="text/javascript", src="javascripts/eeasearch.facetview.js")

block extrastyles
    link(rel="stylesheet", href="css/tiles.css")

block content
    div(class="page-header")
        h1(style="dispaly:inline-block;") EEA Advanced search - Global catalogue
    div(class="facet-view-simple")
